@import-normalize;

// Color variables
$primary: #272962;
$secondary: #275BA8;
$tertiary: #F68B3C;
$highlight: #F6C539;
$gray: #C7C8CA;

// Font import and variables
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url('./fonts/brandon_med-webfont.woff2') format('woff2'),
       url('./fonts/brandon_med-webfont.woff') format('woff');
}

@font-face {
  font-family: 'hochstadtrounded';
  src: url('./fonts/hochstadt-rounded-webfont.woff2') format('woff2'),
       url('./fonts/hochstadt-rounded-webfont.woff') format('woff');
}

$fontMain: 'brandon_grotesquemedium', sans-serif;

$fontAccent: 'hochstadtrounded', sans-serif;

.App {
  font-family: $fontMain;
  color: $primary;
}
.aboutDave {
  h2 {
    color: $highlight;
    font-family: $fontAccent;
  }
}
